{% extends 'items/base.html' %}

{% block body %}
	
	<ul>
		<li>Hello</li>
		{% for item,g in resp.items %}
			<li><a href="{% url 'items:detail' object.name %}
 >{{ g.name }}</a> is with {{ g.c_addr }}</li>
		{% endfor %}

		{% for item,g in resp.items %}
			{% for check in g.check %}
				{% if check == '-' %}
					<li> Check is not done</li>
				{% else %}
					<li> Check is done </li>
				{% endif %}

			{% endfor %}
		{% endfor %}

		{% for item,g in hist.items %}
			<li>{{g}}
		{% endfor %}

	</ul>
{% endblock %}
href="{% url 'items:detail' object.name %}
