{% extends 'items/base.html' %}
{% block title %} Send item {% endblock %}



{% block body %}
<div class="container-fluid">
        <div id="checks_text" style="margin: 0 auto; float: left; "><ul>
                {% for item,g in resp.items %}
                    <h3>Requirements of {{ g.name }}</h3>
                    <h6><a href= "{% url 'items:detail' g.name %}">Refresh</a></h6>
                    
                    <form action="{% url 'items:checked' g.name %}" method="post">
        
                        {% csrf_token %}
                        
                        {% for checkno,obj in checks_list.items %}
        
                            {% if obj.check %}
        
                            <input type="checkbox" name="check" value="{{ forloop.counter }}" /><label>{{ obj.name }}</label><br>			
                            {% else %}
                            <input type="checkbox" name="check" disabled="disabled" value="{{ forloop.counter }}" checked />
                                <label style="color:green">{{ obj.name }}</label><br>
                            {% endif %}
                        
                        {% endfor %}
                    {% if g.c_addr == requested_user  %}
                    <input type = "submit" value="Submit">
                    {% endif %}	
                    
                </form><br>
        
                {% if g.c_addr == requested_user %}
                <h4><a href="{% url 'items:send' g.name %}">Send item ?</a></h4><br>
                {% endif %}
                {% endfor %}
            </ul></div>
                
        
                <!--- Mike at manufacturing send   -->
        
            <div id="history_text" style="margin:0px auto;float:right; position:relative;"><ul>
                <h3>Previous Transactions</h3>
                <!--its actually next addr in the transactions , please go and look at send in sawtooth folder(inside item)-->
                {% for item,g in hist.items %}
                    {% if g.action == 'send'%}
                    <li>{{g.c_addr}}: {{g.action}} to  {{g.p_addr}}  at {{g.timestamp}}   </li>
                    {% else %}
                    <li>{{g.c_addr}}: {{g.action}} at {{g.timestamp}}</li>
                    
                    {% endif %}
        
                {% endfor %}
            </ul></div>
            </div>
    <div class="container-fluid">        
        <div style="float: left;width:50%">
            <h3>Send Item ?</h3>
                {% if error_message %}
                    <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                <form class="form-horizontal" role="form" action="{% url 'items:send' itemname %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="id_recv">
                            Receiver:
                        </label>
                        <div class="col-sm-10">
                            <input id="id_recv" maxlength="30" name="recv" type="text">
                        </div>
                        </div>
                        {% comment %} <div class="form-group">
                            <label class="control-label col-sm-2" for="id_password">
                                Password:
                            </label>
                            <div class="col-sm-10">
                                <input id="id_password" maxlength="30" name="password" type="password">
                            </div> {% endcomment %}
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                
            </div>
        </div>


{% comment %} 
{{ form.errors }}
{{ form.non_field_errors }} {% endcomment %}

{% endblock %}