{% extends 'ptypes/base.html' %}

{% block body %}
    <div class ="container">

        {% for ptype,g in response.ptypes %}
            <h3>Product Type Details of {{g.name}}</h3>
            <h6><a href="{% ptypes:delete g.name 1 %}">Delete Product Type</a></h6> 
                {% for roles in g.role %}
                    <h4>{{roles}}</h4>
                    <ul>
                        {% for checks in g.role.get(roles)}
                            <li>{{checks}}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
        
        {% endfor %}
        
    </div>

{% endblock %}